{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Runder</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Indian Cricketers</h1>

        <div id="flex">
            <a href="{% url 'index' %}">Full Squad</a>
            <a href="{% url 'captain' %}">Captain</a>
            <a href="{% url 'batman' %}">Batsman</a>
            <a href="#">All-Rounder</a>
            <a href="{% url 'bowler' %}">Bowler</a>
        </div>
    </header>
    <section id="top-11">
        <h1>Wicket Keeper</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus quam quasi commodi a ducimus
            quos amet non nemo, nulla quisquam tempore eaque illum incidunt soluta minus molestiae voluptate tenetur.
        </p>
        <figure id="top">
            <img src="{% static 'img/kisan.avif' %}" alt="">
            <figcaption>Ishan kishan</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
        <figure id="top">
            <img src="{% static 'img/kl.avif' %}" alt="">
            <figcaption>KL rahul</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
    </section>
    <section id="top-11">
        <h1>All-Rounder</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere necessitatibus quam quasi commodi a ducimus
            quos amet non nemo, nulla quisquam tempore eaque illum incidunt soluta minus molestiae voluptate tenetur.
        </p>

        <figure id="top">
            <img src="{% static 'img/pandya.avif' %}" alt="">
            <figcaption>hardik pandya</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
        <figure id="top">
            <img src="{% static 'img/jadeja.avif' %}" alt="">
            <figcaption>ravidra jadeja</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
        <figure id="top">
            <img src="{% static 'img/ravi.jfif' %}" alt="">
            <figcaption>ravichandran ashwin</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
        <figure id="top">
            <img src="{% static 'img/takur.avif' %}" alt="">
            <figcaption>shardul thakur</figcaption>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem tenetur temporibus consectetur.</p>
            <button>Learn More</button>
        </figure>
    </section>
</body>
</html>